# large data and exports
/data/
/exports/

# notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# generated outputs
/output/

# local IDE
.idea/

# PDFs
*.pdf

# submissions outputs
/submissions/
*.csv
